<H3>カレンダーを使って日付を入力する</H3>

<div class="col-md-2">
  <div class="form-group">
    <div class='input-group date' id='datetimepicker1'>
      <input type='text' name='sample[date]'class="form-control" data-date-format="YYYY/MM/DD"/>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
</div>
