<div>
  <%= link_to 'ページトップに戻る機能', home_page_top_path %>
</div>
<div>
  <%= link_to 'dateselectにbootstrapを適用する', home_dateselect_path %>
</div>
<div>
  <%= link_to 'カレンダーを使って日付を入力する', home_calendar_path %>
</div>
